.brand-color{
    background-color: #AE3941;
    color: white;
}

.icon-color{
    color: #AE3941;
}

/* header top CSS Start */
.top-menu ul li a {
    text-decoration: none;
    color: white;
    padding:0 10px 0 10px;
}
.top-menu ul{
    list-style: none;
}
.header-top-bg-color{
    background-color: #AE3941;
}

/* header top CSS End */

/* Navbar CSS Start */
.nav-ft-size{
    font-size: 13px;
    font-weight: 500; 
}
.main-logo-size img{
    width: 60px;
    height: auto;
}

/* Navbar CSS End */

/* Footer CSS Start */
.footer-bg-color{
    background-color: #121921;
}
.footer-address a{
    color: gray;
}
.footer-address a:hover{
    color: #AE3941;
    transition: all 0.3s ease;
}
.footer-headings-color{
    color: white;
}
.footer-company ul{
    list-style: none;
    padding-left: 0;
}
.footer-company ul li a{
    text-decoration: none;
    color: gray;
}
.footer-company ul li a:hover{
    
    color: #AE3941;
    transition: all 0.3s ease;
}

.footer-courses ul{
    list-style: none;
    padding-left: 0;
}
.footer-courses ul li a{
    text-decoration: none;
    color: gray;
}
.footer-courses ul li a:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
}
.footer-getin-touch ul{
    list-style: none;
    padding-left: 0;
}
.footer-getin-touch ul li a{
    text-decoration: none;
    color: gray;
}
.footer-getin-touch ul li a:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
    
}
/* Footer CSS End  */



/* Welcome section CSS Start  */



/*** our courses section css start  ***/
.view-btn-hover a:hover{
background-color: #AE3941;
color: white;

}

/*** our courses section css end  ***/

/*** English Speaking section css start  ***/

.card-title:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
}
.next-btn-hover button:hover{
    border-color: #AE3941;
    color: #AE3941;
}

/*** English Speaking section css end  ***/


/* Why to learn new skills section css start  */
.bg-photo{
    background-image: url(images/welcome_1.png);
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.wh-bg-color{
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


 /* Why to learn new skills section css end  */   

 /* Why choose us section css start  */
.ch-bg-photo{
    background-image: url(images/welcome_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 700px;
     

}
.ch-bg-color{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 700px;
    width: 100%;
   
}

 /* Why choose us section css end  */   