/* header top CSS Start */
.top-menu ul li a {
    text-decoration: none;
    color: white;
    padding:0 10px 0 10px;
}
.top-menu ul{
    list-style: none;
}
.header-top-bg-color{
    background-color: #AE3941;
}

/* header top CSS End */

/* Navbar CSS Start */
.nav-ft-size{
    font-size: 13px;
    font-weight: 500; 
}

/* Navbar CSS End */

/* Footer CSS Start */
.footer-bg-color{
    background-color: #121921;
}
.footer-address a{
    color: gray;
}
.footer-address a:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
}
.footer-headings-color{
    color: white;
}
.footer-company ul{
    list-style: none;
    padding-left: 0;
}
.footer-company ul li a{
    text-decoration: none;
    color: gray;
}
.footer-company ul li a:hover{
    
    color: #AE3941;
    transition: all 0.3s ease-in-out;
}

.footer-courses ul{
    list-style: none;
    padding-left: 0;
}
.footer-courses ul li a{
    text-decoration: none;
    color: gray;
}
.footer-courses ul li a:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
}
.footer-getin-touch ul{
    list-style: none;
    padding-left: 0;
}
.footer-getin-touch ul li a{
    text-decoration: none;
    color: gray;
}
.footer-getin-touch ul li a:hover{
    color: #AE3941;
    transition: all 0.3s ease-in-out;
    
}
/* Footer CSS End  */

/* Welcome section CSS Start  */

.bg-photo{
    background-image: url(images/studyaborad.png);
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
/* .wel-bg-color{
    background-color: #121921;
    height: 400px;
    background-size: cover;
} */
.welcome-height{
    height: 400px;
       
}